@charset "utf-8";
@import url("./basic.css");

html,body {
margin:0px;
padding:0px;
background:#fff;
width:100%;
height:100%;
font-size:12px;
}

.required{
	color:#FF0000;
	font-size:85%;
	margin-right:3px;
}
.num{text-align:right;ime-mode:disabled;}
.alphaNumeric{text-align:left;ime-mode:disabled;}

/*------------------------------------------------------------ message --*/
.message{
    margin:10px;
}
.message p{
    margin:5px 0 5px;
}
.field_err_msg{
    color: #cc0000;
    font-weight: bold;
    margin: 0;
    padding:1px;
    list-style: none; 
}
.err_msg{
    color: #cc0000;
    font-weight: bold;
    border: solid 1px #cc7a7a;
    margin:15px 0 15px;
    padding:1px;
    list-style: none; 
}
.err_msg p{
    margin:0;
    padding:1px 15px 1px;
    background-image:url(../images/err_bg.jpg);
    background-repeat:repeat-x;
    line-height:1.3em;
}
.err_msg b{
    padding:10px 0 10px 50px;
    margin:0px;
    background-image: url(../images/icon_err.gif);
    background-repeat:no-repeat;
    background-position: left center;
    display:block;
}
.caution_msg{
    color: #009900;
    border: solid 1px #65c365;
    margin:15px 0 15px;
    padding:1px;
}
.caution_msg p{
    margin:0;
    padding:1px 15px 1px;
    background-image:url(../images/caution_bg.jpg);
    background-repeat:repeat-x;
    line-height:1.3em;
}
.caution_msg b{
    padding:10px 0 10px 50px;
    margin:0px;
    background-image: url(../images/icon_i.gif);
    background-repeat:no-repeat;
    background-position: left center;
    display:block;
}

/*------------------------------------------------------------ form button --*/
.button {
    text-align:center;
    margin:10px;
}

/*------------------------------------------------------------ layout --*/
#footer{
    bottom:0px;
    left:0px;
    text-align: center;
    margin:30px;
    padding:10px 0px 10px 0px;
}
#footer hr{
	border-width: 1px 0px 0px 0px;
	border-style: solid;
    color:silver;
    height: 1px;
    width: 900px;
}
#footer p{
	color:silver;
}

/*------------------------------------------------------------ Basic Ext --*/
#main .graphLeft {
width:250px;
margin-left:1px;
margin-right:5px;
float:left;
}

#main .graphLeft table{
width:250px;
}

#main .graphLeft table td{
padding:5px 7px;
border-right:1px solid #dce1e7;
}

#main .graphLeft ul{
list-style:none;
}

#main .graphLeft ul li{
display:block;
margin-bottom:10px;
color:#2266F4;
}

#main .graphLeft ul li img{
margin-right:5px;
}

#main .graphLeft ul li span{
display:block;
margin:5px 0px 0px 15px;
color:#333;
}

#menu div ul li p span a{
display:block;
height:30px;
color:#333335;
padding:0px 0px;
text-decoration:none;
}

.userListForm .userListElement {
float:left;
width:300px;
margin:0px 5px 0px 5px;
}

.userListForm .userList {
float:left;
width:45%;
margin:0px 5px 0px 5px;
}

.userListForm .userMoveButton {
float:left;
margin:0px 5px 0px 5px;
}

.userListForm .userButton {
margin:5px 0px 5px 0px;
}

.userListForm .userButton2 {
margin:5px 0px 5px 0px;
}
