/* CSS Document */

html,body {
margin:0px;
padding:0px;
background:#fff;
width:100%;
font-size:12px;
}

div,p,h1,h2,h3,img,ul,li,span {
margin:0px;
padding:0px;
border:0px;
}

a:link {
color:#0143cb;
}

a:hover {
color:#3774f2;
text-decoration:none;
}

br.clear {
clear:both;
}

#header {
border-top:3px solid #105ccc;
height:68px;
width:100%;
}

#header div{
width:900px;
margin:0px auto;
height:68px;
position:relative;
text-align:left;
}

#header div h1{
position:absolute;
top:18px;
left:10px;
}

#header div p{
position:absolute;
text-align:right;
top:12px;
}

#header div p img{
margin:0px 5px 0px 0px;
}

#header div p.name{
right:95px;
}

#header div p.logout{
right:-1px;
}

#menu{
height:36px;
background:url(../images/gnavi.gif) top center repeat-x;
}

#menu div{
height:36px;
width:900px;
margin:0px auto;
}

#menu div ul{
height:36px;
width:900px;
list-style:none;
background:url(../images/gnavi_line.gif) top left no-repeat;
}

#menu div ul li{
background:url(../images/gnavi_line.gif) top right no-repeat;
height:36px;
width:150px;
display:block;
float:left;
text-align:center;
font-weight:bold;
color:#333335;
}

#menu div ul li a{
display:block;
color:#fff;
padding:10px 0px;
text-decoration:none;
}

#menu div ul li p{
height:36px;
width:150px;
display:block;
background:url(../images/gnavi_a.gif) bottom center no-repeat;
}

#menu div ul li span{
display:block;
padding-top:10px;
}


#main{
width:900px;
margin:15px auto;
}

#main .topicpath{
margin:0px 0px 15px 0px;
height:13px;
position:relative;
}

#main .topicpath ul{
list-style:none;
height:13px;
}

#main .topicpath ul li{
display:block;
float:left;
padding-right:10px;
}

#main .topicpath ul li.second{
border-left:1px solid #333;
padding-left:10px;
}

#main .topicpath ul li img{
margin-right:5px;
}

#main .topicpath p.search{
position:absolute;
top:0px;
right:-2px;
}

#main .topicpath p.search .txt{
width:150px;
}

#main .refine{
margin-bottom:10px;
position:relative;
}

#main .refine a{
padding:0px 3px;
}

#main .refine span{
padding-right:10px;
}

#main .refine p.search{
position:absolute;
top:-5px;
right:0px;
}

#main .refine p.search .txt{
width:150px;
}

#main .refine p.subtitle{
margin:5px 0px 0px 0px;
}

#main  p.subtitle.underspace  {
margin:0px 0px 5px 0px;
}

#main div.title{
display:block;
height:29px;
background:#2e95fc;
border-bottom:2px solid #0f5acd;
position:relative;
margin-bottom:15px;
}

#main div.title h2{
color:#fff;
font-size:14px;
font-weight:bold;
padding:8px 0px 0px 8px;
}

#main div.title p{
color:#fff;
font-size:12px;
position:absolute;
right:10px;
top:10px;
}

#main table{
width:900px;
margin:0px;
padding:0px;
color:#343434;
border-bottom:1px solid #dce1e7;
}

#main table.topborder{
border-top:1px solid #dce1e7;
width:685px;
}


#main table th{
background:#c3e0ff;
padding:10px;
border-right:1px solid #fff;
text-align:center;
font-weight:normal;
}

#main table th.par10{
width:10%;
}

#main table th.par15{
width:15%;
}

#main table th.par20{
width:20%;
}

#main table th.par25{
width:25%;
}

#main table th.par30{
width:30%;
}

#main table th.par40{
width:40%;
}

#main table th.par50{
width:50%;
}

#main table th.px30{
width:20px;
}

#main table td.par15{
width:15%;
}

#main table td.par20{
width:20%;
}

#main table td.par25{
width:25%;
}

#main table td.par30{
width:30%;
}

#main table td{
padding:10px 7px;
border-right:1px solid #dce1e7;
}

#main table td.num {
text-align:right;
}

#main table td.rank {
text-align:right;
}

#main table td.disp {
text-align:center;
}

#main table td.name {
text-align:left;
}


#main table td.borderNone {
border-right:none;
}

#main table input.text {
width:490px;
}

#main table input.num {
width:150px;
}

#main table tr.gbg{
background:#f6f6f6;
}

#main .page{
text-align:center;
margin:20px 0px;
}

#main .page a{
padding:0px 3px;
}

#main .submit{
text-align:center;
margin:20px 0px;
}

#main .imageLeft {
width:200px;
float:left;
}

#main .imageLeft ul{
list-style:none;
}


#main .imageLeft ul li{
display:block;
margin-bottom:10px;
}

#main .imageLeft ul li img{
margin-right:5px;
}

#main .imageRight {
width:650px;
padding:0px 0px 0px 15px;
float:left;
border-left:1px solid #ccc;
}

#main .imageRight h3{
padding:5px 0px;
margin-bottom:15px;
border-top:1px solid #c3e0ff;
border-bottom:1px solid #c3e0ff;
color:#2e95fc;
font-size:14px;
font-weight:bold;
}

#main .imageRight div {
margin:0px 0px 20px 0px;
}

#main .imageRight div div{
margin:0px 0px 10px 0px;
font-weight:bold;
border-bottom:1px dotted #ddd;
color:#333;
}

#main .imageRight div div p{
margin:5px 0px 5px 0px;
}

#main .graphLeft {
width:280px;
margin-left:10px;
margin-right:10px;
float:left;
}

#main .graphLeft table{
width:280px;
}

#main .graphLeft table td{
padding:5px 7px;
border-right:1px solid #dce1e7;
}

#main .graphLeft ul{
list-style:none;
}

#main .graphLeft ul li{
display:block;
margin-bottom:10px;
color:#2266F4;
}

#main .graphLeft ul li img{
margin-right:5px;
}

#main .graphLeft ul li span{
display:block;
margin:5px 0px 0px 15px;
color:#333;
}

#main .graphRight{
width:590px;
float:left;
text-align:right;
}



#main .loginArea{
text-align:center;
width:300px;
margin:50px auto;
}

#main table#login {
width:300px;
border:none;
}

#main table#login th{
font-size:14px;
font-weight:bold;
}

.userListForm .userList {
float:left;
margin:0px 5px 0px 5px;
}

.userListForm .userMoveButton {
float:left;
margin:0px 5px 0px 5px;
}

.userListForm .userButton {
margin:40px 0px 5px 0px;
}

.userListForm .userButton2 {
margin:20px 0px 5px 0px;
}

.inputbehind.hyouji {
margin:0px 0px 0px 0px;
}

.inputbehind.hyouji {
background:url("../images/btn02_over.gif") no-repeat center top;
/*behavior:url("js/csshover3.htc");*/
/*ここのパス注意、外部CSSの場合もhtmlファイルからのパスで*/
}

.inputbehind.shousai {
background:url("../images/btn03_over.gif") no-repeat center top;
/*behavior:url("js/csshover3.htc");*/
/*ここのパス注意、外部CSSの場合もhtmlファイルからのパスで*/
}

.inputfront:hover {
filter: alpha(opacity=0);
-ms-filter: alpha(opacity=0);
opacity: 0.0;
}

