/*datepicker*/ /* Main Style Sheet for jQuery UI date picker */
.ui-datepicker-div,.ui-datepicker-inline,#ui-datepicker-div { /*resets*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	font-family: Arial, sans-serif;
	background: #ffffff url(images/ffffff_40x100_textures_01_flat_75.png) 0
		0 repeat-x;
	font-size: 0.8em;
	border: 1px solid #808080;
	width: 15.5em;
	padding: 2.5em .5em .5em .5em;
	position: relative;
}

.ui-datepicker-div,#ui-datepicker-div {
	z-index: 9999; /*must have*/
	display: none;
}

.ui-datepicker-inline {
	float: left;
	display: block;
}

.ui-datepicker-control {
	margin-bottom: 5px;
	display: block;
}

.ui-datepicker-current {
	display: none;
}

.ui-datepicker-next,.ui-datepicker-prev {
	position: absolute;
	left: .5em;
	top: .5em;
	background: #eeeeee
		url(images/eeeeee_40x100_textures_04_highlight_hard_100.png) 0 50%
		repeat-x;
}

.ui-datepicker-next {
	left: 14.5em;
}

.ui-datepicker-next:hover,.ui-datepicker-prev:hover {
	background: #f6f6f6
		url(images/f6f6f6_40x100_textures_04_highlight_hard_100.png) 0 50%
		repeat-x;
}

.ui-datepicker-next a,.ui-datepicker-prev a {
	text-indent: -999999px;
	width: 1.3em;
	height: 1.4em;
	display: block;
	font-size: 1em;
	background: url(images/cc0000_7x7_arrow_left.gif) 50% 50% no-repeat;
	border: 1px solid #d8dcdf;
	cursor: pointer;
}

.ui-datepicker-next a {
	background: url(images/cc0000_7x7_arrow_right.gif) 50% 50% no-repeat;
}

.ui-datepicker-prev a:hover {
	background: url(images/cc0000_7x7_arrow_left.gif) 50% 50% no-repeat;
}

.ui-datepicker-next a:hover {
	background: url(images/cc0000_7x7_arrow_right.gif) 50% 50% no-repeat;
}

.ui-datepicker-prev a:active {
	background: url(images/cc0000_7x7_arrow_left.gif) 50% 50% no-repeat;
}

.ui-datepicker-next a:active {
	background: url(images/cc0000_7x7_arrow_right.gif) 50% 50% no-repeat;
}

.ui-datepicker-header select {
	border: 1px solid #d8dcdf;
	color: #004276;
	background: #eeeeee;
	font-size: 1em;
	line-height: 1.4em;
	position: absolute;
	top: .5em;
	margin: 0 !important;
}

.ui-datepicker-header option:focus,.ui-datepicker-header option:hover {
	background: #f6f6f6;
}

.ui-datepicker-header select.ui-datepicker-new-month {
	width: 5em;
	left: 8.9em;
}

.ui-datepicker-header select.ui-datepicker-new-year {
	width: 6em;
	left: 2.6em;
}

table.ui-datepicker {
	width: 15.5em;
	text-align: right;
}

table.ui-datepicker td a {
	padding: .1em .3em .1em 0;
	display: block;
	color: #004276;
	/*
	background: #eeeeee url(../../images/eeeeee_40x100_textures_04_highlight_hard_100.png) 0 50% repeat-x;
*/
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #ffffff;
}

table.ui-datepicker td a:hover {
	border: 1px solid #cdd5da;
	color: #111111;
	background: #f6f6f6
		url(images/f6f6f6_40x100_textures_04_highlight_hard_100.png) 0 50%
		repeat-x;
}

table.ui-datepicker td a:active {
	border: 1px solid #eeeeee;
	color: #cc0000;
	background: #ffffff url(images/ffffff_40x100_textures_01_flat_65.png) 0
		50% repeat-x;
}

table.ui-datepicker .ui-datepicker-title-row td {
	padding: .3em 0;
	text-align: center;
	font-size: .9em;
	color: #333333;
	text-transform: uppercase;
}

table.ui-datepicker .ui-datepicker-title-row td a {
	color: #333333;
}

.ui-datepicker-cover {
	display: none;
	display /**/: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 193px;
	height: 200px;
}

/* ------------------------ Add --- */
.ui-datepicker-clear {
	margin-left: 12.4em;
	width: 30px;
	background: #eeeeee
		url(images/eeeeee_40x100_textures_04_highlight_hard_100.png) 0 50%
		repeat-x;
	text-align: center;
	border: 1px solid #d8dcdf;
}

.ui-datepicker-clear:hover {
	background: #f6f6f6
		url(images/f6f6f6_40x100_textures_04_highlight_hard_100.png) 0 50%
		repeat-x;
}

.ui-datepicker-clear a {
	cursor: pointer;
	text-decoration: none;
}

.ui-datepicker-close {
	display: none;
}

table.ui-datepicker td.ui-datepicker-current-day a {
	color: #CC0000;
	font-weight: bold;
}

.ui-datepicker-title-row {
	height: 20px;
	background-color: #eeeeee;
}

.ui-datepicker-title-row td span {
	font-size: 1.2em;
}

.ui-datepicker-days-cell {
	height: 100%;
	padding: 1px;
}

table.ui-datepicker td.ui-datepicker-today a {
	background-color: #FBF8EE;
	border: 1px solid #FCD3A1;
}