<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="danboh-project">
		<property name="java-output-path" value="/target/classes"/>
        <property name="context-root" value="danboh"/>
		<wb-resource deploy-path="/" source-path="src/main/webapp"/>
		<wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
		<wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/java"/>
		<dependent-module archiveName="activation-1.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/activation/activation/1.1/activation-1.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module archiveName="aopalliance-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/aopalliance/aopalliance/1.0/aopalliance-1.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<dependent-module archiveName="commons-collections-3.2.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-collections/commons-collections/3.2.1/commons-collections-3.2.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="commons-fileupload-1.2.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-fileupload/commons-fileupload/1.2.1/commons-fileupload-1.2.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="commons-io-1.4.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-io/commons-io/1.4/commons-io-1.4.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="commons-jxpath-1.3.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-jxpath/commons-jxpath/1.3/commons-jxpath-1.3.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="commons-lang-2.4.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-lang/commons-lang/2.4/commons-lang-2.4.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="commons-logging-1.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-logging/commons-logging/1.1/commons-logging-1.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="dozer-5.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/dozer/dozer/5.0/dozer-5.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="easymock-2.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/easymock/easymock/2.2/easymock-2.2.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="freemarker-2.3.13.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/freemarker/freemarker/2.3.13/freemarker-2.3.13.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="geronimo-annotation_1.0_spec-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/geronimo/specs/geronimo-annotation_1.0_spec/1.0/geronimo-annotation_1.0_spec-1.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="geronimo-ejb_3.0_spec-1.0.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/geronimo/specs/geronimo-ejb_3.0_spec/1.0.1/geronimo-ejb_3.0_spec-1.0.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="geronimo-jpa_3.0_spec-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/geronimo/specs/geronimo-jpa_3.0_spec/1.0/geronimo-jpa_3.0_spec-1.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="geronimo-jta_1.1_spec-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/geronimo/specs/geronimo-jta_1.1_spec/1.0/geronimo-jta_1.1_spec-1.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="geronimo-servlet_2.4_spec-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/geronimo/specs/geronimo-servlet_2.4_spec/1.0/geronimo-servlet_2.4_spec-1.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="javassist-3.4.ga.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/jboss/javassist/3.4.ga/javassist-3.4.ga.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="jaxen-1.1.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/jaxen/jaxen/1.1.1/jaxen-1.1.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="jin-core-0.3.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/provtech/jin-core/0.3.1/jin-core-0.3.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="log4j-1.2.13.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/log4j/log4j/1.2.13/log4j-1.2.13.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="mayaa-1.1.26.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/seasar/mayaa/mayaa/1.1.26/mayaa-1.1.26.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="nekohtml-0.9.5.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/nekohtml/nekohtml/0.9.5/nekohtml-0.9.5.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="ognl-2.6.9-patch-20090427.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/ognl/ognl/2.6.9-patch-20090427/ognl-2.6.9-patch-20090427.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="oro-2.0.8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/oro/oro/2.0.8/oro-2.0.8.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="poi-3.0-FINAL.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/poi/poi/3.0-FINAL/poi-3.0-FINAL.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="postgresql-8.3-603.jdbc4.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/postgresql/postgresql/8.3-603.jdbc4/postgresql-8.3-603.jdbc4.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="s2-extension-2.4.38.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/seasar/container/s2-extension/2.4.38/s2-extension-2.4.38.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="s2-framework-2.4.38.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/seasar/container/s2-framework/2.4.38/s2-framework-2.4.38.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="s2-tiger-2.4.38.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/seasar/container/s2-tiger/2.4.38/s2-tiger-2.4.38.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="s2-xwork2-1.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/seasar/xwork/s2-xwork2/1.0.1-SNAPSHOT/s2-xwork2-1.0.1-SNAPSHOT.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="struts2-convention-plugin-2.1.6.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/struts/struts2-convention-plugin/2.1.6/struts2-convention-plugin-2.1.6.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="struts2-core-2.1.6.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/apache/struts/struts2-core/2.1.6/struts2-core-2.1.6.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="struts2-mayaa-plugin-1.0.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/seasar/mayaa/struts2-mayaa-plugin/1.0.1/struts2-mayaa-plugin-1.0.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="struts2-seasar-plugin-1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/seasar/struts2/struts2-seasar-plugin/1.0.0/struts2-seasar-plugin-1.0.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="urlrewritefilter-3.1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/tuckey/urlrewritefilter/3.1.0/urlrewritefilter-3.1.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="velocity-1.5.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/velocity/velocity/1.5/velocity-1.5.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="xercesImpl-2.7.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/xerces/xercesImpl/2.7.1/xercesImpl-2.7.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="xml-apis-1.3.03.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/xml-apis/xml-apis/1.3.03/xml-apis-1.3.03.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="xwork-2.1.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/opensymphony/xwork/2.1.2/xwork-2.1.2.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="ozacc-mail-1.2.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/ozacc-mail/ozacc-mail/1.2.2/ozacc-mail-1.2.2.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="mail-1.4.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/mail/mail/1.4.2/mail-1.4.2.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="activation-1.1.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/activation/activation/1.1.1/activation-1.1.1.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module archiveName="s2chronos-core-1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/org/seasar/chronos/s2chronos-core/1.0.0/s2chronos-core-1.0.0.jar">
			<dependency-type>uses</dependency-type>
		</dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/net/sf/opencsv/opencsv/2.2/opencsv-2.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/javax/xml/jaxp-api/1.4.2/jaxp-api-1.4.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/net/arnx/jsonic/1.2.0/jsonic-1.2.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/jfree/jcommon/1.0.16/jcommon-1.0.16.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/jfree/jfreechart/1.0.13/jfreechart-1.0.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/lowagie/iText/2.1.7/iText-2.1.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/com/lowagie/iTextAsian/SNAPSHOT/iTextAsian-SNAPSHOT.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/jasperreports/jasperreports/3.7.1/jasperreports-3.7.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/rhino/js/1.7R1/js-1.7R1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-digester/commons-digester/1.8/commons-digester-1.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/classpath/var/M2_REPO/commons-beanutils/commons-beanutils/1.8.0/commons-beanutils-1.8.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
	</wb-module>
</project-modules>
